################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/MicroHeart.Logging
/Logging.Elasticsearch/bin/Debug
/Logging.Elasticsearch/obj
